.app {
  min-height: 80vh;
  /* width: 100vw; */
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

textarea:focus { 
  border-color: black;
}

.header {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 2rem;
  /* vertical + horizontal space */
}

.flow-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.panel {
  width: 30%;
  /* padding: 1rem; */
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.settings-content {
  margin: 2rem;
  color: #ccc;
  font-size: 14px;
}

.settings-content textarea {
  width: 100%;
  border-radius: 6px;
  border-color: #ccc;
  outline: none;
  padding: 0.5rem;
}

.panel--text-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid blue;
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  color: blue;
  margin: 1rem;
}

.react-flow__attribution {
  display: none !important;
}
